body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1F2937;
  color: #F9FAF8;
  margin-bottom: 0;
}

h4 {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  display: flex;
  gap: 25px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #E5E7EB;
}

.main {
  background-color: #1F2937;
  color: #F9FAF8;
  padding-top: 40px;
  padding-bottom: 90px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero-content p {
  font-size: 18px;
  color: #E5E7EB;
  margin-top: 0;
}

.hero {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.hero img {
  width: 450px;
  height: 250px;
}

.hero-content {
  width: 500px;
}

button {
  background-color: #3882F6;
  color: white;
  padding: 8px 13px;
  border-radius: 7px;
  border: none;
}

h3 {
  text-align: center;
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  margin-
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 9px;
  border: 5px solid #3882F6;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}

.card {
  width: 150px;
  text-align: center;
}