body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1F2937;
  color: #F9FAF8;
  margin-bottom: 0;
}

ul {
  display: flex;
  gap: 25px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main {
  background-color: #1F2937;
  color: #F9FAF8;
  padding-top: 40px;
  padding-bottom: 50px;
}

h2 {
  margin-top: 0;
}

.hero {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.hero img {
  width: 350px;
  height: 200px;
}

.hero-content {
  width: 300px;
}

button {
  background-color: #3882F6;
  color: white;
  padding: 8px 13px;
  border-radius: 7px;
  border: none;
}